{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}


<section class="section about-me" data-section="section1">
    <div class="container">

        <div class="section-heading">
            <h2>About Me</h2>
        </div>
        <div class="class="img-fluid" alt="Responsive image"">
            <img src="{% static '/assets/images/cover.jpg' %}" >
        </div>
        <div class="line-dec"></div>
        
        <div class="card border-danger mb-3 text-black bg-transparent aos-init aos-animate" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                       
                        <p >Hello! I am <b style="color:#a43f49;font-family: Verdana, Geneva, Tahoma, sans-serif;"> Shivam Soni</b>. <br><br>            
                        Experienced Python/Django Developer and <br>Machine Learning Professional.</p>
                        <p>I have 1+ years of experience working in the IT Industry as an Intern.
                            <br><br>Please have a look at my GitHub Repository and LinkedIn Profile to
                            know more.
                            
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title1">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                            <div class="col-sm-8">22</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                            <div class="col-sm-8"><a href="mailto:sonishivama@gmail.com" rel="tooltip" title1="Click to send email" data-original-title="" title="">sonishivama@gmail.com</a></div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                            <div class="col-sm-8">Jaipur, IN</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">English, Hindi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


    </div>
  </section>

  
  <section class="section my-services" data-section="section2">
    <div class="container">
        <div class="section-heading">
            <h2>Profesional Skills</h2>
        </div>
        <div class="line-dec"></div>
        <div class="card bg-transparent border-danger aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Python | Flask, Django </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Machine Learning</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Data Science</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Linux</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary aos-init" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Numpy, Pandas, Scikit-learn</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">SQL</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">80%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Statistics and EDA</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary aos-init" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
    
    
  </section>

  <section class="section my-work" data-section="section3">
    <div class="container cc-experience">
        <div class="section-heading">
            <h2>Work Experience</h2>
        </div>
        <div class="line-dec"></div>

        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary aos-init aos-animate" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header">
                        <p>July 2018 - Nov 2018</p>
                        <div class="h5">Method Data Science LLC</div>
                    </div>
                </div>
                <div class="col-md-9 aos-init aos-animate" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Resident Data Scientist/ ML Engineer</div>
                            </br>
                            <p>● Collaborate with Method Data Science Community Members on Data Science Projects
                            <br>● Collect, prepare and explore data with advanced analytics and machine learning
                            <br>● Lead a​ team of 4​ to work on the project for a US based biotech firm.
                            <br>● Built an app on algorithm modeled from stock time series data to help investors make decisions for Options Trading or building insight for trading strategies using signals/indicators.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary aos-init aos-animate" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header">
                        <p>May 2019 - Jun 2019</p>
                        <div class="h5">D-Harbor Infosoft</div>
                    </div>
                </div>
                <div class="col-md-9 aos-init aos-animate" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Python/Django Developer- Intern</div>
                        </br>
                        <p>● Developed frontend and backend apps using Python on Django Web Framework.
                            <br>
                            ● Code version control with GitHub and deployment to staging and production           servers.
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="section my-work" data-section="section4">
    <div class="container cc-education">
        <div class="section-heading">
            <h2>Education</h2>
        </div>
        <div class="line-dec"></div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary aos-init aos-animate" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2016 - 2020</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9 aos-init aos-animate" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Bachelor of Technology - Computer Science
                            (B.Tech.) </div>
                        <p class="category" style="text-align: left">Rajasthan Technical University</p>
                        <p>● Presented a Research Paper on Stock Price Analysis and Prediction using Facebook Prophet model.
                            <br>● Member of the IT club. 
                            <br>● Coordinated and managed multiple technical events.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container cc-education">
        <div class="section-heading">
            <h2>Awards and Certifications</h2>
        </div>
        <div class="line-dec"></div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary aos-init aos-animate" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>May, 2020</p>
                        <div class="h5">Virtual Internship</div>
                    </div>
                </div>
                <div class="col-md-9 aos-init aos-animate" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Software Engineering Virtual Experience </div>
                        <p class="category" style="text-align: left"> JP Morgan Chase & Co.</p>
                        <p>Completed practical task modules	in: 
                            <br>●Establishing Financial Data Feeds 
                            <br>●Frontend Web Development 
                            <br>●Data Visualization with Perspective.
                        </p>
                        <a class="category" href="https://insidesherpa.s3.amazonaws.com/completion-certificates/JP%20Morgan/R5iK7HMxJGBgaSbvk_JPMorgan%20Chase_92vsCWhJMeu7qsLhn_completion_certificate.pdf" target="_blank">View Credentials</a>
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary aos-init aos-animate" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>May, 2020</p>
                        <div class="h5">Represented India in QATAR</div>
                    </div>
                </div>
                <div class="col-md-9 aos-init aos-animate" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Fake News Detection Contest- QICC</div>
                        <p class="category" style="text-align: left">Hamad Bin Khalifa University, QATAR</p>
                        <p><br>●Secured 8th position among 15 teams in Fake News Detection Contest.
                            <br>●Compete against PhD Candidates and Scholars.
                            <br>●Only participant pursuing Bachelor's.
                            <br>●Team Name: 01Binary
                            <br></br>

                            <a class="category" href="https://www.linkedin.com/in/sonishivama/detail/overlay-view/urn:li:fsd_profileTreasuryMedia:(ACoAABlLMi8BaU8hwS2bqneTBS-xwu_uoeZaxzE,1575896708442)/" target="_blank">View Credentials</a>
                             | <a class="category" style="padding-left:em" href="http://sites.google.com/view/fakenews-contest" target="_blank"> Team Rankings</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  </section>
  <section class="section contact-me" data-section="section5">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <div class="container">
      <div class="section-heading">
        <h2>Contact Me</h2>
        <div class="line-dec"></div>
        <span
          ><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="sonishivama"><a class="LI-simple-link" href='https://in.linkedin.com/in/sonishivama?trk=profile-badge'>Shivam Soni</a></div></span
        >
      </div>
      <div class="row">
        <div class="right-content">
          <div class="container">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input
                      name="name"
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Your name..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input
                      name="email"
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder="Your email..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input
                      name="subject"
                      type="text"
                      class="form-control"
                      id="subject"
                      placeholder="Subject..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <textarea
                      name="message"
                      rows="6"
                      class="form-control"
                      id="message"
                      placeholder="Your message..."
                      required=""
                    ></textarea>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">
                      Send Message
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}		
	
		
